.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hidden {
<<<<<<< HEAD
=======
    animation: 10s;
>>>>>>> 110b0e4a9dd89ede07285c66dede0671282e7bed
    animation-fill-mode: forwards;
}
