body {

    padding-top: 200px;
    background-color: rgb(14, 25, 47);
    font-family: "Homenaje", sans-serif;
}


/*----------------------NavBar----------------------*/

.navbar {
    top: 0;
    margin-bottom: -15px;
    border-bottom: 3px solid white;
    background: rgb(14, 25, 47);
    color: #fff;
    width: 100%;
    z-index: 2;
    flex-direction: column;
}

.navbar .fa-plane {
    font-size: 60px;
    color: #fff;
}

.navbar .title {
    font-family: "Homenaje", sans-serif;
    color: white;
}

.navbar .link {
    margin-right: 45px;
    font-family: "Homenaje", sans-serif;
    font-size: 40px;
    color: #fff !important;
}

.navbar .Form {
    margin-right: 45px;
}




/*----------------------Grids----------------------*/

.SpacingGrid {
    padding-top: 1000px;
}


/*----------------------Home Page----------------------*/

.Home {

    padding-left: 0;
    padding-right: 0;
    top: 0;
    left: 0;
    right: 0;
}

.Home .video {
    margin-top: -155px;
}

#background-video {
    position: fixed;
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
    z-index: -99;
    filter: brightness(90%);

}

.Home .text .square {
    background-color: rgba(255, 255, 255, 0.287);
    width: 930px;
    height: 425px;
    display: inline-block;
}

.Home .scroll-button {
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgba(255, 255, 255, 0.945);
    padding: 10px 10px 20px;
    border-radius: 30px;
}

.scroll-bar {
    animation: mover 1s infinite alternate;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

.Home .scroll-bar span {
    border: 2px solid rgba(255, 255, 255, 0.945);
    font-size: 10px;
    border-radius: 30px;
}

.Home .text {
    font-family: "Homenaje", sans-serif;
    color: rgba(255, 255, 255, 0.849);
    padding-top: 250px;
    margin-bottom: 500px;
}

.Home .text h1 {
    font-size: 70px;
    font-weight: bold;
    margin: 20px;
}

.Home .text p {
    font-size: 40px;
    font-weight: bold;
    margin: 25px;
}

.Home .link {
    margin-left: 150px;
    margin-right: 90px;
}

.Home .square {
    background-color: rgba(255, 255, 255, 0.287);
    width: 930px;
    height: 400px;
    display: inline-block;
    position: fixed;
    top: 30%;
    left: 30%;
}

.Home .roundedCorner {

    border: 3px solid rgba(255, 255, 255, 0.739);
    border-radius: 10px 90px;
    padding: 50px;

}

.Home .roundedCorner:hover {
    background: rgba(20, 19, 19, 0.555);
    border-radius: 90px 10px;
    transition: 0.75s;
}

.Home .roundedCorner p {
    font-family: "Homenaje", sans-serif;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.918);
    text-align: center;
}

.Home .background {
    padding-top: 400px;
}
